<div id="modal-add" class="modal animate">
  <div class="modal-container">
    <div class="modal-header">
      <div class="transparent transparent-button">X</div>
      <h3>Adicionar</h3>
      <button
        class="circlewrap"
        (click)="closeModal('modal-add')"
      >
        <img src="/assets/images/x.svg" alt="Close Icon">
      </button>
    </div>
    <div class="modal-subheader">
      <button
        id="tag-1"
        class="tag tag-active"
        (click)="changeActiveTagModal(1)"
      >
        Disciplina
      </button>
      <button
        id="tag-2"
        class="tag tag-inactive"
        (click)="changeActiveTagModal(2)"
      >
        Frente
      </button>
      <button
        id="tag-3"
        class="tag tag-inactive"
        (click)="changeActiveTagModal(3)"
      >
        Matéria
      </button>
    </div>
    <div id="modal-content-add" class="modal-content">
      <ng-container *ngIf="addContent == 'SUBJECT'">
        <div class="input-container">
          <p>Disciplina:</p>
          <input type="text" name="subject" id="subject">
        </div>
        <div class="input-container">
          <p>Frente:</p>
          <select name="subtopic" id="subtopic">
            <option value="">-- Selecione --</option>
          </select>
        </div>
        <div class="input-container">
          <p>Matéria:</p>
          <select name="materia" id="materia">
            <option value="">-- Selecione --</option>
          </select>
        </div>
        <div class="input-container">
          <p>Data de Início:</p>
          <input id="date-subject" name="date-subject" type="date">
        </div>
        <button type="button" (click)="saveSubject()">Salvar</button>
      </ng-container>

      <ng-container *ngIf="addContent == 'SUBTOPIC'">
        <div class="input-container">
          <p>Matéria:</p>
          <input type="text" name="materia" id="materia">
        </div>
        <div class="input-container">
          <p>Cor de Destaque:</p>
          <input type="color" name="materia-color" id="materia-color">
        </div>
        <button type="button" (click)="saveMateria()">Salvar</button>
      </ng-container>

      <ng-container *ngIf="addContent == 'MATERIA'">
        <div class="input-container">
          <p>Frente:</p>
          <select name="subtopic-remove" id="subtopic-remove">
            <option value="">-- Selecione --</option>
          </select>
        </div>
        <button type="button" class="delete" (click)="deleteSubtopic()">Deletar</button>
      </ng-container>
    </div>
  </div>
</div>
