<app-modal-details-subject *ngIf="isModalShown.detailsSubject"></app-modal-details-subject>
<app-modal-remove *ngIf="isModalShown.remove"></app-modal-remove>
<app-modal-add *ngIf="isModalShown.add"></app-modal-add>
<mat-toolbar class="toolbar-header">
  <div class="title">
    <button class="circlewrap next-left" (click)="previousMonth()">
      <img src="/assets/images/chevron-left.svg" alt="Left Arrow Icon" />
    </button>
    <div class="month-title">
      <h1 (click)="goToTodayTitle()">
        {{ currentMonth }}
      </h1>
    </div>
    <button class="circlewrap next-right" (click)="nextMonth()">
      <img src="/assets/images/chevron-right.svg" alt="Right Arrow Icon" />
    </button>
    <button
      id="todayOptionButton"
      class="today-option"
      (click)="goToToday()"
    >
      Hoje 📅
    </button>
  </div>
  <div class="options">
    <button class="circlewrap add-subject" (click)="showRemoveModal()">
      <img src="/assets/images/minus.svg" alt="Minus Icon" />
    </button>
    <button class="circlewrap add-subject" (click)="showAddModal()">
      <img src="/assets/images/plus.svg" alt="Plus Icon" />
    </button>
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Pesquisa</mat-label>-->
<!--      <input matInput placeholder="Nome da Disciplina">-->
<!--      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--    </mat-form-field>-->
    <input
      class="search-subject"
      (keyup)="filterSearch()"
      [(ngModel)]="textFilter"
      type="text"
      name="pesquisa"
      id="pesquisa"
      placeholder="Pesquisa 🔎"
    />
  </div>
</mat-toolbar>
<main id="studies-day-list">
  <div
    *ngFor="let studyDay of subjectPerDayList"
    app-studies-day-list
    [day]="studyDay.day"
    [subjectsToday]="studyDay.content"
    id="dia-{{ studyDay.day }}"
    class="study-day {{ isTodayStudyDay(studyDay.day) ? 'today-study-day' : '' }}"
  >
  </div>
</main>
