<app-modal-details-subject *ngIf="isModalShown.detailsSubject"></app-modal-details-subject>
<app-modal-remove *ngIf="isModalShown.remove"></app-modal-remove>
<app-modal-add *ngIf="isModalShown.add"></app-modal-add>
<header>
  <div class="title">
    <button class="circlewrap next-left" (click)="previousMonth()">
      <img src="/assets/images/chevron-left.svg" alt="Left Arrow Icon" />
    </button>
    <div class="month-title">
      <h1 (click)="goToTodayTitle()">
        {{ currentMonth }}
      </h1>
    </div>
    <button class="circlewrap next-right" (click)="nextMonth()">
      <img src="/assets/images/chevron-right.svg" alt="Right Arrow Icon" />
    </button>
    <button
      id="todayOptionButton"
      class="today-option"
      (click)="goToToday()"
    >
      Hoje 📅
    </button>
  </div>
  <div class="options">
    <button class="circlewrap add-subject" (click)="showRemoveModal()">
      <img src="/assets/images/minus.svg" alt="Minus Icon" />
    </button>
    <button class="circlewrap add-subject" (click)="showAddModal()">
      <img src="/assets/images/plus.svg" alt="Plus Icon" />
    </button>
    <input
      class="search-subject"
      (keyup)="filterSearch()"
      [(ngModel)]="textFilter"
      type="text"
      name="pesquisa"
      id="pesquisa"
      placeholder="Pesquisa 🔎"
    />
  </div>
</header>
<main id="studies-day-list" *ngFor="let day of subjectPerDayList">
  <app-studies-day-list
    [day]=""
    [subjectsToday]=""
  ></app-studies-day-list>
</main>
