<mat-toolbar color="primary" class="toolbar-header">
  <div class="title">
    <button mat-icon-button class="next-left" (click)="previousMonth()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="month-title">
      <h1 class="force-font" (click)="goToTodayTitle()">
        {{ currentMonth }}
      </h1>
    </div>
    <button mat-icon-button class="next-right" (click)="nextMonth()">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-raised-button
      class="force-font today-option"
      (click)="goToToday()"
    >
      Hoje 📅
    </button>
  </div>
  <div class="options">
    <button mat-icon-button class="add-subject" (click)="showRemoveModal()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button class="add-subject" (click)="showAddModal()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="normalize-font">
      <mat-label>Pesquisa</mat-label>
      <input
        matInput
        (keyup)="filterSearch()"
        [(ngModel)]="textFilter"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</mat-toolbar>
<main id="studies-day-list">
  <div
    *ngFor="let studyDay of subjectPerDayList"
    app-studies-day-list
    [day]="studyDay.day"
    [subjectsToday]="studyDay.content"
    id="dia-{{ studyDay.day }}"
    class="study-day {{ isTodayStudyDay(studyDay.day) ? 'today-study-day' : '' }}"
  >
  </div>
</main>
